PORT=9050

WECOM_TOKEN=replace_me
WECOM_ENCODING_AES_KEY=replace_me
WECOM_CORP_ID=wwxxxxxxxxxxxxxxxx

WECOM_SECRET=replace_me
WECOM_AGENT_ID=1000001
WECOM_TOUSER=zhuj

BRIDGE_NOTIFY_TOKEN=bridge_secret_123
PERSONAL_CRM_BASE_URL=http://127.0.0.1:9030

OPENCLAW_BASE_URL=http://127.0.0.1:8080/v1
OPENCLAW_API_KEY=
OPENCLAW_MODEL=openclaw
